*.o
box
core/\[
core/admin
core/alias
core/ar
core/asa
core/at
core/awk
core/basename
core/batch
core/bc
core/bg
core/c99
core/cal
core/cat
core/cd
core/cflow
core/chgrp
core/chmod
core/chown
core/cksum
core/cmp
core/comm
core/command
core/compress
core/cp
core/crontab
core/csplit
core/ctags
core/cut
core/cxref
core/date
core/dd
core/delta
core/df
core/diff
core/dirname
core/du
core/echo
core/ed
core/env
core/ex
core/expand
core/expr
core/false
core/fc
core/fg
core/file
core/find
core/fold
core/fort77
core/fuser
core/gencat
core/get
core/getconf
core/getopts
core/grep
core/hash
core/head
core/iconv
core/id
core/ipcrm
core/ipcs
core/jobs
core/join
core/kill
core/lex
core/link
core/ln
core/locale
core/localedef
core/logger
core/logname
core/lp
core/ls
core/m4
core/mailx
core/make
core/man
core/mesg
core/mkdir
core/mkfifo
core/more
core/mv
core/newgrp
core/nice
core/nl
core/nm
core/nohup
core/od
core/paste
core/patch
core/pathchk
core/pax
core/pr
core/printf
core/prs
core/ps
core/pwd
core/qalter
core/qdel
core/qhold
core/qmove
core/qmsg
core/qrerun
core/qrls
core/qselect
core/qsig
core/qstat
core/qsub
core/read
core/renice
core/rm
core/rmdel
core/rmdir
core/sact
core/sccs
core/sed
core/sh
core/sleep
core/sort
core/split
core/strings
core/strip
core/stty
core/tabs
core/tail
core/talk
core/tee
core/test
core/time
core/touch
core/tput
core/tr
core/true
core/tsort
core/tty
core/type
core/ulimit
core/umask
core/unalias
core/uname
core/uncompress
core/unexpand
core/unget
core/uniq
core/unlink
core/uucp
core/uudecode
core/uuencode
core/uustat
core/uux
core/val
core/vi
core/wait
core/wc
core/what
core/who
core/write
core/xargs
core/yacc
core/zcat
box_tmp/*
sh/sh
extras/yes
extras/errno
